body {
    font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}
/*NAVBAR SECTION*/
.navbar {
    padding-top: 1rem;
    background-color: #003060;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    color: white;   
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}
/*NAVBAR SECTION ENDS*/

/*INTRO SECTION*/
.intro {
    height: 30rem;
    padding-top: 1rem;
    background-image: url(/images/onewheel-background.jpg);
    background-position: center;
    background-repeat: none;
    display: flex; 
}

.text1 {
    font-family: 'Roboto Mono' , monospace;
    font-size: 25px;
    color: #003060;
    font-weight: bolder;
    margin: auto;
    background-color: white;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}
/*INTRO SECTION ENDS*/

/*ABOUT SECTION*/
.about-us {
    padding: 0 10rem;
    font-family: 'Montserrat' , sans-serif;
    color: #003060;
}

.about-us h2 {
    font-size: 25px;
    text-decoration: overline;
    font-weight: bold;
}
/*ABOUT SECTION ENDS*/

/*PHOTOS SECTION*/
.photos img {
    width: 30%;
    margin: 1.5%;
}
/*PHOTOS SECTION ENDS*/

/*TESTIMONIAL SECTION*/
.testimonial {
    background-color: #003060;
    height: 20rem;
    padding: 0 1.5rem;
}

.testimonial h2 {
    font-size: 2.5rem;
    color: white;
    padding-top: 1.5rem;
}

.testimonial p {
    color: white;
}
/*TESTIMONIAL SECTION ENDS*/

/*EVENTS SECTION 2*/
.meetup {
    margin-bottom: 5rem;
    background-color: #003060;
}

.meetup h2 {
    text-align: center;
    color: white;
    padding-top: 1.5rem;
}

.meetup img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.meetup h3 {
    color: white;
    text-align: center;
    padding-bottom: 1.5rem;
}
/*EVENTS SECTION ENDS*/

/*JOIN US SECTION*/
#join {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

#name, #last, #email, #phone {
    display: block;
    width: 400px;
    height: 2rem;
    margin: 20px auto;
    border-radius: 10px;
    color: #003060;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 3px solid white;
}

#comments {
    display: block;
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    color: #003060;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 3px solid white;
    resize: none;
}

#submit {
    display: block;
    width: 200px;
    height: 1.5rem;
    border-radius: 5px;
    color: #003060;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    margin: 20px auto;
}

.form {
    background-color: #003060;
    width: 500px;
    border-radius: 15px;
}

.introduce h3 {

}

.introduce h4 {
    
}
/*JOIN US SECTION ENDS*/
