body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}
/*NAVBAR SECTION*/
.navbar {
    padding-top: 1rem;
    background-color: #003060;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    color: white;   
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}
/*NAVBAR SECTION ENDS*/

/*INTRO SECTION*/
.intro {
    height: 30rem;
    padding-top: 1rem;
    background-image: url(/images/onewheel-background.jpg);
    background-position: center;
    background-repeat: none;
    display: flex; 
}

.text1 {
    font-family: 'Roboto Mono' , monospace;
    font-size: 25px;
    color: #003060;
    font-weight: bolder;
    margin: auto;
    background-color: white;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}
/*INTRO SECTION ENDS*/

/*ABOUT SECTION*/
.about-us {
    padding: 0 5rem;

}

