body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}

.navbar {
    padding-top: 1rem;
    background-color: #003060;
    text-align: center;
    font-weight: bold;
}
/*
.navbar p {
   left: 25rem; 
}
*/
ul {
    list-style: none;
    margin: 0;
}

li {
    color: white;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

